﻿<%@ page title="About Us" language="C#" masterpagefile="~/Site.master" autoeventwireup="true" inherits="About, App_Web_oxdhsbtz" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <h2>
        About
    </h2>
    <p>
        Put content here.
    </p>
</asp:Content>
